.chart{
    height: 100%;
    width: 100%;
}
.chart2{
    justify-content: center;
    display: flex;
    width: 40vw; /*40*/
    height: 25vh; /*25*/
    align-items: row;
    margin-top:50px;

}

@media (max-width: 800px) {
    .chart2{
        width: 100vw;
        height: 20vh;
        position: relative;
        right: 2vw;
    }
}
